/* the main content grid */
#DashboardContent {
    padding: 0 40px 40px 40px;
    overflow-y: auto;
}

#GreetingText {
    margin-bottom: 30px;
    font-size: 32px;
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
}

/* styling the dynamic cards */
.media-card {
    position: relative;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%), var(--surface-colour);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.card-overlay {
    width: 100%;
}

.manga-title {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.media-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(107, 76, 255, 0.2);
}