/* base typography and resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

body {
    background-color: var(--bg-colour);
    color: var(--text-primary);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}