/* header and search bar */
#Topbar {
    height: 80px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#GlobalSearch {
    background-color: var(--surface-colour);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--text-primary);
    padding: 12px 20px;
    border-radius: 20px;
    width: 300px;
    outline: none;
    transition: border-color var(--transition-speed);
}

#GlobalSearch:focus {
    border-color: var(--primary-colour);
}